.input-tab-container{
    max-height: 100%;
    height: 100%;
    max-width: 60%;
    width: max-content;
    font-family: "Rubik", sans-serif;
    position: relative;
    display: flex;
    z-index: 2;
}

.input-tab-container *{
    box-sizing: border-box;
}

.input-tab-resize-handle{
    width: 5px;
    min-width: 5px;
    height: 100%;
    cursor: col-resize;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.15s ease;
    flex-shrink: 0;
}

.input-tab-resize-handle:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
