.confirm-dialog-container {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.confirm-dialog-background {
    background-color: var(--popup-background-black);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
}

.confirm-dialog-outline {
    padding: 8px;
    background-color: var(--red-brown);
    border: 2px solid var(--brown-pale);
    border-radius: 4px;
    z-index: 1;
}

.confirm-dialog {
    padding: 16px;
    border: 2px solid var(--brown-pale);
    background-color: var(--white-skin-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.confirm-dialog-message {
    font-size: 18px;
    text-align: center;
    color: black;
}

.confirm-dialog-buttons {
    display: flex;
    gap: 12px;
}
