
.post-author-name{
    font-size: 14px;
    color: var(--white-skin-color);
    cursor: pointer;
}

.post-date,.post-footer{
    font-size: 12px;
    color: var(--red-meta-txt)
}

.description-txt{
    width: 100%;
    max-width: 100%;
    overflow: auto;
    overflow-y: hidden;
}


.post-page-element-container{
    background-color: var(--post-background);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--brown-pale);
}
