.sinner-ego-icon-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 8px;
    gap: 4px;
    border: 2px solid var(--Normal);
}

.sinner-ego-icon{
    flex: 1;
    cursor: pointer;
    max-width: 45px;
    max-height: 45px;
    filter: saturate(0);
}

.sinner-ego-icon.active{
    filter: none;
}