.stat-icon{
    width: 24px;
    height: 24px;
}

.input-stat-page{
    -webkit-text-stroke: .5px black;
    color: var(--Normal);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stat-page-input-border{
    border-color: var(--Normal);
}

.sinner-splash-art-input-container,.sinner-stat-inputs{
    width: 100%;
    max-width: 100%;
}

.sinner-icon-input-container,.sinner-color-input-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.sinner-stat-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.stat-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sinner-splash-art-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sinner-splash-art-input{
    display: flex;
    align-items: center;
}


.delete-splash-art-question{
    display: flex;
}

.sin-input-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.sin-input-item-label{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}