.blog-page-content {
    min-height: 400px;
    align-items: center;
    justify-content: center;
}

.blog-empty-state {
    text-align: center;
    font-size: 18px;
    color: var(--white-neutral-weak);
}
