.skill-effect-container{
    padding: 12px;
}

.skill-effect{
    white-space: break-spaces;
}

.skill-effect.preview{
    border: none;
}

.skill-effect.preview p:empty::before {
  content: '';
  display: inline-block;
}