.home-page-container{
    min-height: 100vh;
}

.hero-site-logo{
    max-width: 850px;
    max-height: 160px;
    width: 100%;
    margin: auto
}

.home-page-hero-text{
    font-size: 20px;
    font-weight: bold;
}

.home-page-link{
    color: red
}

.home-page-content{
    align-items: "center";
    text-align: center;
}

.action-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px
}

.action-button-container .main-button{
    padding: 12px 60px;
    font-size: large;
}