.editor-container{
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
    height: var(--editor-container-height);
}

.preview-container{
    position: absolute;
}

@media screen and (max-width:800px) {
    .editor-container>.input-tab-container{
        max-width: 100%;
        opacity: 95%;
    }
}
