.skill-frame-input-container{
    max-width: 370px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    background-color: black;
    border: 2px solid white;
    position: relative;
}

.skill-frame-input-container>.disabled{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.305);
    z-index: 10;
}

.skill-frame-input-option{
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    filter: saturate(0);
}

.skill-frame-input-option.active{
    filter: none;
}
